body{
    background-color: #D3D3D3;
}

main{
    margin-right: 400px;
    margin-left: 400px;
}

h1{
    background-color: black;
    color: white;
    text-align: right;
}

h2{
    background-color: #808080;
    color: white;
    text-align: center;
}

span.cargo{
    background-color: white;
    color: red;
}

span.lugar{
    color: blue;
}

span.comillas{
    font-size: x-large;
}

hr.negro{
  color: black;

}
hr.blanco{
    color: white;
}