body{
    background-color: #D3D3D3;
}

main{
    margin-right: 400px;
    margin-left: 400px;
}

h1{
    background-color: black;
    color: white;
    text-align: right;
    margin: 0;
    padding: 10px;
}

h2{
    background-color: #808080;
    color: white;
    text-align: center;
    
}

span.cargo{
    background-color: white;
    color: red;
}

span.lugar{
    color: blue;
}

q{
border-bottom: red 1px dashed;
  font-family: serif;
  font-size: 150%;
}

hr.negro{
  color: black;

}
hr.blanco{
    color: white;
}